block vars
    - var title='Title'
    extends ../../partials/layout

block content

    include ../../partials/header-decor

    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="")  Главная
                li
                    span  Интерьеры

    main
        .width-wrap
            h2.mb65 Интерьеры

            .tabs.mb65
                .tabs--content.active.mb40
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-1.jpg" rel="room1").fancy
                                img(src="../../../img/img--interier-1.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-1.jpg" rel="room1").fancy
                                img(src="../../../img/img--interier-1.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-1.jpg" rel="room1").fancy
                                img(src="../../../img/img--interier-1.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-1.jpg" rel="room1").fancy
                                img(src="../../../img/img--interier-1.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-1.jpg" rel="room1").fancy
                                img(src="../../../img/img--interier-1.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-2.jpg" rel="room2").fancy
                                img(src="../../../img/img--interier-2.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-2.jpg" rel="room2").fancy
                                img(src="../../../img/img--interier-2.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-2.jpg" rel="room2").fancy
                                img(src="../../../img/img--interier-2.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-2.jpg" rel="room2").fancy
                                img(src="../../../img/img--interier-2.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-3.jpg" rel="room3").fancy
                                img(src="../../../img/img--interier-3.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-3.jpg" rel="room3").fancy
                                img(src="../../../img/img--interier-3.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-3.jpg" rel="room3").fancy
                                img(src="../../../img/img--interier-3.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-3.jpg" rel="room3").fancy
                                img(src="../../../img/img--interier-3.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-4.jpg" rel="room4").fancy
                                img(src="../../../img/img--interier-4.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-4.jpg" rel="room4").fancy
                                img(src="../../../img/img--interier-4.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-4.jpg" rel="room4").fancy
                                img(src="../../../img/img--interier-4.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-4.jpg" rel="room4").fancy
                                img(src="../../../img/img--interier-4.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-5.jpg" rel="room5").fancy
                                img(src="../../../img/img--interier-5.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-5.jpg" rel="room5").fancy
                                img(src="../../../img/img--interier-5.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-5.jpg" rel="room5").fancy
                                img(src="../../../img/img--interier-5.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-5.jpg" rel="room5").fancy
                                img(src="../../../img/img--interier-5.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-6.jpg" rel="room6").fancy
                                img(src="../../../img/img--interier-6.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-6.jpg" rel="room6").fancy
                                img(src="../../../img/img--interier-6.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-6.jpg" rel="room6").fancy
                                img(src="../../../img/img--interier-6.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-6.jpg" rel="room6").fancy
                                img(src="../../../img/img--interier-6.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-7.jpg" rel="room7").fancy
                                img(src="../../../img/img--interier-7.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-7.jpg" rel="room7").fancy
                                img(src="../../../img/img--interier-7.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-7.jpg" rel="room7").fancy
                                img(src="../../../img/img--interier-7.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-7.jpg" rel="room7").fancy
                                img(src="../../../img/img--interier-7.jpg" alt /)

                .tabs--content.mb65
                    ul.rooms-list
                        li.three-tvelfth
                            a(href="../../../img/img--interier-8.jpg" rel="room8").fancy
                                img(src="../../../img/img--interier-8.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-8.jpg" rel="room8").fancy
                                img(src="../../../img/img--interier-8.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-8.jpg" rel="room8").fancy
                                img(src="../../../img/img--interier-8.jpg" alt /)
                        li.three-tvelfth
                            a(href="../../../img/img--interier-8.jpg" rel="room8").fancy
                                img(src="../../../img/img--interier-8.jpg" alt /)

                .justifyed
                    .rooms--text
                        h3 8&nbsp;интерьеров в&nbsp;одном большом зале
                        p В&nbsp;нашей просторной, светлой фотостудии расположились 8&nbsp;интерьеров для фотосессии. Это очень удобно т.к.&nbsp;у&nbsp;нас вы&nbsp;можете провести несколько абсолютно разных по&nbsp;стилистике съемок, не&nbsp;выходя из&nbsp;зала.

                    .tabs--caption-wrap
                        ul.tabs--caption
                            li.active
                                span 1
                            li
                                span 2
                            li
                                span 3
                            li
                                span 4
                            li
                                span 5
                            li
                                span 6
                            li
                                span 7
                            li
                                span 8


    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/room.jpg",opacity: 0.5,top: 32,left: 0,center: false,clip: true,show: false});});
