.clothes
  &-list
    display flex
    justify-content space-between
    flex-flow wrap

    li
      margin-bottom 20px
      display inline-blocka
      vertical-align top

      @media md
        width 290px !important

      a
        display block

        img
          border-radius 10px