.contacts
  &-list
    display block

    &--el
      display inline-block
      vertical-align top
      padding-left 100px
      box-sizing border-box
      position relative
      margin-bottom 50px

      @media md
        width 290px

      &:before
        position absolute
        content ""
        left 0
        top -5px

      &:after
        position absolute
        content ""
        top 39px
        left 42px
        transform translate3d(-45%, -64%, 0)
        z-index 10
        color $cWhite
        font-size 24px

      &-step
        width 600px

        @media md
          width auto

      &-car
        @media md
          width auto

      &-step:before,
      &-car:before,
      &-phone:before
        sprite($bg_violet)
      &-subway:before
        sprite($bg_red)
      &-wats:before
        sprite($bg_green)
      &-location:before
        sprite($bg_black)


      &-phone:after
        content "\f095"
        font-family $fAwesome
      &-subway:after
        sprite($icon_metro)
        transform translate3d(-59%, -69%, 0)
      &-wats:after
        content "\f232"
        font-family $fAwesome
      &-location:after
        content "\f041"
        font-family $fAwesome
      &-step:after
        sprite($icon_steps_white)
        top 20px
        transform translate3d(-11px, -2px, 0)
      &-car:after
        sprite($icon_auto)
        top 20px
        transform translate3d(-13px, 6px, 0)

      a,
      span
        display block
        font-size 25px
        color $cBlack

        @media md
          font-size 18px

        &.title
          display block
          color $cViolet
          font-size 18px
          margin-bottom 10px
          margin-top 8px

      h3
        text-align left

  &-map
    @media md
      display block !important

    .one-half
      display inline-block
      vertical-align top
      width 500px

      @media md
        display block
        width auto
        margin-bottom 40px

      &:first-child
        position relative

        &:after
          position absolute
          content ""
          top 0
          bottom 0
          width 3px
          right -88px
          background $cGray_bg

          @media md
            display none

      .map
        display block
        height 400px
        box-shadow 0 16px 59px rgba(142,91,208,0.2)
        border-radius 20px

        @media sm
          height 300px

      iframe
        display block
        width 100%
        height 300px
        border-radius 20px

      p
        font-size 18px
        line-height 30px
