block vars
    - var title='Title'

extends ../../partials/layout

block content

    include ../../partials/header

    main.mb75
        section.index-banner
            .width-wrap
                span.index-banner--logo ФОТОСТУДИЯ №1

        section.index-about
            img(src="../../../img/bg--camera.png").bg-img
            .width-wrap
                h2 ФОТОСЕССИЯ В&nbsp;СТУДИИ

                .content
                    p Равным образом начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании существенных финансовых и&nbsp;административных условий. Не&nbsp;следует, однако забывать, что укрепление и&nbsp;развитие структуры способствует подготовки и&nbsp;реализации позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Задача организации, в&nbsp;особенности&nbsp;же реализация намеченных плановых заданий требуют от&nbsp;нас анализа системы обучения кадров, соответствует насущным потребностям.
                    p Идейные соображения высшего порядка, а&nbsp;также дальнейшее развитие различных форм деятельности способствует подготовки и&nbsp;реализации модели развития.

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/index-mobile.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});





