.btn
  box-sizing border-box
  font-size 15px
  text-align center
  border none
  cursor pointer
  transition all .2s ease-in-out
  border-radius 0
  padding 15px 0
  outline none
  background $cViolet_bg
  display block
  color $cBlack

  *
    color inherit
    font-size inherit

  span
    margin-right 5px

  &:hover
    background $cViolet_bg_d
    color $cViolet

  &:active
    text-decoration none
    box-shadow inset 3px 3px 0 #e8bf00

  &_disabled,
  &[disabled]
    background #cfcfcf
    box-shadow none

  &.btn-gradient
    background linear-gradient(to right, rgba(161, 100, 240, 1) 0%, rgba(125, 185, 232, 1) 100%)
    color $cWhite
    font-size 18px
    border-radius 3px
    box-shadow 0 16px 59px rgba(142, 91, 208, 0)

    &:hover
      background $cWhite
      box-shadow 0 16px 59px rgba(142, 91, 208, 0.6)
      background linear-gradient(to right, rgba(161, 100, 240, 1) 0%, rgba(125, 185, 232, 1) 100%)

  &.btn-white
    background $cWhite
    font-size 18px
    border-radius 3px
    box-shadow 0 16px 59px rgba(142, 91, 208, 0)
    letter-spacing 2.6px
    padding 19px 0

    &:hover
      background $cWhite
      color $cBlack
      box-shadow 0 16px 59px rgba(142, 91, 208, 0.6)





