.service
  &-top
    padding-top 317px
    padding-bottom 60px

    @media md
      background-size auto 100% !important

    &-bg
      position absolute
      left 50%
      top 400px
      font-size 275px
      color $cViolet
      opacity 0.1
      transform translate3d(-50%, -50%, 0)
      text-transform uppercase
      letter-spacing 50px

    h2
      margin-bottom -26px
      transform translateY(-50px)
      transition all 0.2s ease-in-out

      &.moved
        transform translateY(0)
        letter-spacing 2px

      & + span
        display block
        text-align center
        margin-bottom 35px
        font-size 25px

    &--list
      display flex
      justify-content space-between
      background $cWhite
      margin-bottom 75px

      @media sm
        display block

      li
        display inline-block
        vertical-align top
        height 78px
        line-height 78px
        padding-left 90px
        padding-right 33px
        border-right 1px solid #f1d8ed
        position relative
        opacity 0

        @media md
          padding 50px 13px 0

        @media sm
          display block
          padding-left 70px
          padding-top 0

        &.animated
          opacity 1

        &:before
          position absolute
          content ""
          top 50%
          left 45px
          transform translate3d(-50%, -50%, 0)

          @media md
            left 50%
            top 20px
            transform translate3d(-50%, 0, 0)

          @media sm
            left 30px
            top 50%
            transform translate3d(-50%, -50%, 0)

        &:nth-child(1):before
          sprite($icon_exp_1)
        &:nth-child(2):before
          sprite($icon_exp_2)
        &:nth-child(3):before
          sprite($icon_exp_3)
        &:nth-child(4):before
          sprite($icon_exp_4)
        &:nth-child(5):before
          sprite($icon_exp_5)

    &--btns
      text-align center
      display block
      margin-bottom 145px

      @media sm
        margin-bottom 45px

      .btn-gradient
        width 380px
        display inline-block
        vertical-align top

        @media md
          width 310px

        @media sm
          width auto
          display block
          margin-bottom 20px

      .calendar
        display inline-block
        version top
        width 280px
        margin-left 20px
        margin-right 80px
        text-align center
        height 54px

        @media md
          width 270px
          margin-right 0

        @media sm
          width auto
          margin 0 auto
          text-align center

        span,
        .icon
          line-height 54px
          display inline-block
          vertical-align top

        .icon
          color $cViolet
          margin-right 5px

    &--icon
      display block
      text-align center

      .icon
        display inline-block
        sprite($icon_scroll)
        animation jump 1.5s infinite

  &-nav
    padding-top 34px

    @media md
      display none

    &--top
      display flex
      justify-content space-between
      border-bottom 1px solid #e2d4f6
      margin-bottom 40px
      width 100%

      li
        display inline-block
        vertical-align top
        margin-bottom -2px

        span,
        a
          display block
          padding 21px 25px
          font-size 18px
          transition all 0.2s ease-in-out
          position relative
          border-bottom 4px solid transparent

        span
          color $cViolet
          border-bottom 4px solid $cViolet
          background $cWhite
          position relative

          &:after
            position absolute
            content ""
            width 0
            height 0
            border-style solid
            border-width 6px 6px 0 6px
            border-color #a164f0 transparent transparent transparent
            left 50%
            margin-left -6px
            bottom -10px

    &--bottom
      display flex
      justify-content space-between
      width 100%

      li
        display inline-block
        vertical-align top
        margin-bottom -2px

        a
          display block
          padding 15px 20px
          border 2px solid transparent
          background #eae2f7
          font-size 15px

        span
          display block
          padding 9px 20px
          font-size 15px
          border 2px solid $cViolet
          background transparent
          border-radius 3px

  &-works
    ul
      display flex
      justify-content space-between
      flex-flow wrap
      align-items top
      align-content top

      @media md
        display block
        margin 0 -15px

      li
        margin-bottom 20px

        @media md
          display block
          text-align center
          margin 0 auto 20px

        a
          display block
          position relative
          border-radius 10px
          overflow hidden
          line-height 0

          &:hover
            &:after,
            &:before
              opacity 1

          img
            max-width 100%

            @media md
              margin 0 auto

          &:before
            position absolute
            content ""
            left 0
            right 0
            bottom 0
            top 0
            border-radius 10px
            overflow hidden
            background rgba(161, 100, 240, 0.6)
            z-index 5
            opacity 0
            transition all 0.2s ease-in-out

          &:after
            position absolute
            content ""
            sprite($show_photo)
            z-index 10
            left 50%
            top 50%
            transform translate3d(-50%, -50%, 0)
            opacity 0
            transition all 0.2s ease-in-out

    .btn
      span,
      .icon
        display inline-block
        vertical-align top

      .icon
        color $cViolet

  &-calc
    padding 74px 0 71px
    background url("../img/bg--calc.jpg") no-repeat 50% 50%

    .calc
      background $cWhite
      padding 80px

      @media md
        padding 55px

      @media sm
        padding 20px 15px

      &.open
        .calc--left
          .justifyed
            .justifyed
              display flex !important

        .calc-services,
        .calc-text,
        .calc--right result
          @media md
            display block
            margin-bottom 20px


      h2
        margin-bottom 20px

        & + span
          display block
          text-align center
          font-size 28px
          margin-bottom 67px

      .justifyed
        @media md
          display block !important
          width auto

      &--left
        display inline-block
        vertical-align top
        width 520px
        border-right 1px solid #f5effd
        padding-right 40px
        padding-left 20px
        box-sizing border-box

        @media md
          display block !important
          width auto
          padding-right 0
          border none

        .justifyed
          @media md
            display none !important

        .label-slider
          display block

          .label-title
            display block
            margin-bottom 10px
            font-size 15px

        .calc-radio
          display inline-block
          vertical-align top
          width 50%
          border-bottom 1px solid #e3d0fa
          cursor pointer

          input
            display none

            &:checked + span
              border-bottom 3px solid $cViolet
              position relative
              background #eaf1f2

              &:after
                position absolute
                content ""
                width 0
                height 0
                border-style solid
                border-width 6px 6px 0 6px
                border-color #a164f0 transparent transparent transparent
                left 50%
                margin-left -6px
                bottom -9px

          span
            display block
            height 64px
            line-height 64px
            text-align center
            border-bottom 3px solid transparent
            margin-bottom -2px

      &-services
        display block
        padding-top 28px

        @media md
          display none

        li
          display flex
          justify-content space-between
          align-content center
          align-items center
          padding 8px 0

          &:nth-child(even)
            border 1px solid #ece0fc
            border-radius 3px

          span
            display inline-block
            vertical-align top
            font-size 15px

        &-name
          width 200px
          padding-left 20px
          box-sizing border-box

        .btn
          height 31px
          box-sizing border-box
          line-height 28px
          padding 0 5px
          border 2px solid $cViolet
          border-radius 3px
          background transparent
          margin-right 20px

          @media sm
            display auto

      &--right
        display inline-block
        vertical-align top
        width 450px
        box-sizing border-box

        @media md
          width auto
          display block

        .calc-text
          @media md
            display none

          li
            display block
            margin-bottom 25px
            padding-left 20px
            position relative
            font-size 15px
            line-height 26px
            padding-right 35px

            &:before
              position absolute
              left 0
              top 5px
              font-family $fAwesome
              content "\f061"
              color $cViolet
              font-size 15px

            i
              display inline

        .result
          font-size 15px
          line-height 30px
          text-transform uppercase
          margin-bottom 30px

          @media md
            display none
            text-align center

        .calc-text--total
          margin-bottom 10px
          font-size 25px
          line-height 30px

          @media md
            text-align center
            display block

        h3
          text-align left

          @media md
            text-align center

      .show-full
        display none

        @media md
          display block
          margin-bottom 20px

  &-pack
    .services-list
      &--el
        &:nth-child(1),
        &:nth-child(3)
          margin-top 40px

          @media md
            margin-top 0

        &:nth-child(2)
          width 420px
          margin 0 -20px
          position relative
          z-index 10

          @media md
            margin 0 auto
            width 33.3%

          ul
            margin-bottom 46px

            @media md
              margin-bottom 2px

          .services-list--el-price
            margin-bottom 53px
            font-size 60px

            @media md
              font-size 40px
              margin-bottom 20px

            @media sm
              font-size 30px

  &-rooms
    padding 75px 0 0
    background url("../img/bg--exp-interier.png") no-repeat 50% -29px
    padding-top 206px
    position relative

    @media sm
      padding-top 100px

    &-bg
      position absolute
      left 50%
      top 640px
      font-size 275px
      color $cWhite
      opacity 0.2
      transform translate3d(-50%, -50%, 0)
      text-transform uppercase
      letter-spacing 50px

    .tabs--content
      display block
      position absolute
      left -99999px
      width 100vw

      &.active
        position relative
        left 0

    .tabs--caption-wrap,
    .tabs--caption,
    .tabs--caption li
      border-color $cWhite !important

      span
        background transparent

    .tabs--caption li.active
      span
        background $cWhite

    .owl-next:hover,
    .owl-prev:hover
      color $cWhite !important

      &:after
        border-color $cWhite !important
        color $cWhite !important

  &-steps
    h2
      margin-bottom 95px

    &-list
      display flex
      flex-flow wrap
      justify-content space-between

      @media md
        display block
        padding-left 120px

      @media sm
        padding-left 0

      &--el
        display inline-block
        vertical-align top
        width 345px
        padding-left 120px
        box-sizing border-box
        position relative
        margin-bottom 120px

        @media md
          display block
          margin-bottom 100px !important
          width 400px !important

        @media sm
          width auto !important

        &:nth-child(9)
          @media md
            margin-bottom 0 !important

          &:after
            @media md
              display none !important

        &:nth-child(1),
        &:nth-child(4),
        &:nth-child(7)
          width 380px
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(8)
          width 390px
        &:nth-child(3),
        &:nth-child(6),
        &:nth-child(9)
          width 340px
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9)
          margin-bottom 0

        &:before
          position absolute
          content ""
          left -10px
          top -10px

        &:nth-child(1):before
          sprite($icon_sertificate_9)
        &:nth-child(2):before
          sprite($icon_sertificate_10)
        &:nth-child(3):before
          sprite($icon_sertificate_11)
        &:nth-child(4):before
          sprite($icon_sertificate_12)
        &:nth-child(5):before
          sprite($icon_sertificate_13)
        &:nth-child(6):before
          sprite($icon_sertificate_16)
        &:nth-child(7):before
          sprite($icon_sertificate_17)
        &:nth-child(8):before
          sprite($icon_sertificate_14)
        &:nth-child(9):before
          sprite($icon_sertificate_15)

        &:after
          position absolute
          content ""

          @media md
            sprite($arrow_bottom_s) !important
            left 58% !important
            margin-left -5px !important
            bottom -75px !important
            top auto !important
            z-index 10

        &:nth-child(1):after,
        &:nth-child(2):after,
        &:nth-child(5):after,
        &:nth-child(8):after
          sprite($arrow_right_l)
          top 41px
          right -12px

          @media md
            sprite($arrow_bottom_s) !important

        &:nth-child(4):after
        &:nth-child(7):after
          sprite($arrow_right_s)
          top 41px
          right -12px

          @media md
            sprite($arrow_bottom_s) !important

        &:nth-child(3):after,
        &:nth-child(6):after
          sprite($arrow_bottom)
          right 160px
          bottom -96px

          @media md
            sprite($arrow_bottom_s) !important

        .number
          position absolute
          opacity 0.7
          z-index 0
          color $cWhite
          font-size 250px
          line-height 60px
          font-family $fDinPro_m
          left 120px
          top 20px

          @media md
            font-size 200px
            left 180px

          @media sm
            left 115px

        p,
        h4
          position relative
          z-index 10

        h4
          font-size 18px
          text-transform uppercase

        p
          font-family $fDinPro
          font-size 16px
          line-height 25px

  &-booking
    padding 115px 0
    background url("../img/bg--exp-booking.jpg") no-repeat 50% 50%

    @media sm
      padding-top 55px
  
    .width-wrap
      background url("../img/bg--form.jpg") no-repeat 100% 0
      background-size auto 100%

      @media md
        background none

    .main-form
      background $cWhite
      width 780px
      padding 80px 100px
      box-sizing border-box

      @media md
        width auto
        display block
        padding 50px

      @media sm
        padding 20px 15px

      h2
        margin-bottom 14px

        & + span
          display block
          text-align center
          font-size 25px
          line-height 40px
          letter-spacing 3px
          margin-bottom 26px

          @media sm
            line-height 30px

      .justifyed
        @media sm
          display block !important

      .one-half
        width 280px

        @media md
          width 220px

        @media sm
          display block
          width auto
          margin-bottom 30px

      .select-time
        position relative

        .jq-selectbox__trigger
          position absolute
          top 0
          right 0
          bottom 0
          width 46px
          background $cViolet
          content ""

        .jq-selectbox__trigger-arrow:after
          border none
          position absolute
          content "\f017"
          font-family $fAwesome
          right -7px
          top 13px
          font-weight normal
          color $cWhite
          transform translate3d(-50%, -50%, 0)
          z-index 10


      p
        font-size 15px
        line-height 26px
        margin-bottom 30px

.session-types
  display block
  padding-top 50px
  padding-bottom 55px

  &-bg
    position absolute
    left 50%
    top 50%
    font-size 275px
    color $cWhite
    opacity 0.2
    transform translate3d(-50%, -50%, 0)
    text-transform uppercase
    letter-spacing 50px

  &--el
    display flex
    align-items center
    align-content center
    justify-content space-between

    @media md
      display block
      text-align center

    &:nth-child(2)
      @media md
        margin-bottom 70px

    &:nth-child(3)
      margin-bottom 100px


      @media md
        margin-bottom 70px

      img
        position absolute
        right 0

        @media md
          position relative
          right auto
          float none

    img
      display inline-block
      vertical-align top
      width 529px

      @media md
        display block
        margin 0 auto 30px

    .content
      display inline-block
      vertical-align top
      width 600px

      @media md
        display block
        width auto

      h4
        margin-bottom 25px

      p
        margin-bottom 25px
        line-height 26px
        font-size 15px

        &:last-child
          margin-bottom 0



@-webkit-keyframes jump
  0%
    -webkit-transform translateY(-10px)
    transform translateY(-10px)

  50%
    -webkit-transform translateY(0)
    transform translateY(0)

  100%
    -webkit-transform translateY(-10px)
    transform translateY(-10px)

.fadeInUpSpeed
  -webkit-animation-name fadeInUp
  animation-name fadeInUp
  -webkit-animation-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
  animation-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
  -webkit-animation-duration 0.5s !important
  animation-duration 0.5s !important

@-webkit-keyframes fadeInUp
  from
    opacity 0
    -webkit-transform translate3d(0, 100%, 0)
    transform translate3d(0, 100%, 0)

  to
    opacity 1
    -webkit-transform none
    transform none 
   
   

