block vars
    - var title='Title'

extends ../../partials/layout

block content

    include ../../partials/header-decor

    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    span  Блог

    main.mb75
        .width-wrap
            h2.mb65 Блог

            ul.articles-list
                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-1.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-2.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-3.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-4.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-5.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

                li.articles-list--el
                    a(href="").articles-list--el-img.four-tvelfth
                        img(src="../../../img/img--articles-6.jpg" alt /)

                    .content.seven-tvelfth
                        h4.articles-list--el-title Как готовиться к фотосессии
                        .articles-list--el-time
                            .icon.icon--calendar
                            time 26.12.2017

                        p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                        p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                        a(href="").articles-list--el-link
                            .icon.icon--angle-right
                            span Читать подробнее

            .pagination
                a(href="").arrow.arrow-left
                    .icon.icon--angle-left

                ul
                    li
                        span 1
                    li
                        a(href="") 2
                    li
                        a(href="") 3
                    li
                        a(href="") 4
                    li
                        a(href="") 5
                    li
                        a(href="") 6

                a(href="").arrow.arrow-right
                    .icon.icon--angle-right

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/blog.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});

