.bg-ui
  background  #e7e2f5

.label-slider
  display block

  .inp
    display inline-block
    vertical-align top
    width 48px
    height 48px
    border-radius 2px
    border 2px solid $cViolet
    margin-right 20px

    @media sm
      width 38px
      height 38px
      padding-left 0
      text-align center

  .label-slider-wrap
    display inline-block
    vertical-align top
    width 350px
    margin-right 13px

    @media sm
      width calc(100% - 68px - 38px)

    .label-slider-number
      display flex
      justify-content space-between
      margin 0 -2px 31px

      @media sm
        margin-bottom 16px

      span
        display inline-block
        vertical-align top
        line-height 12px

        &.active
          color $cViolet

    .range-slider
      display block
      height 4px
      background $cViolet
      border-radius 3px
      position relative

      .ui-slider-handle
        position absolute
        width 20px
        height 20px
        border-radius 20px
        background $cViolet
        box-shadow  0 3px 10px rgba(183,62,226,.4)
        outline none
        cursor pointer
        margin-top -4px

  .slider-question
    display inline-block
    vertical-align top
    width 18px
    height 18px
    border-radius 18px
    background $cBlack
    text-align center
    position relative
    margin-top 14px

    span
      color $cWhite
      text-align center
      line-height 18px
      display block

    &:hover
      .slider-question--popup-wrap
        opacity 1
        pointer-events auto

    .slider-question--popup-wrap
      position absolute
      left 50%
      bottom 18px
      padding-bottom 30px
      transform translateX(-50%)
      opacity 0
      pointer-events none
      transition all 0.2s ease-in-out
      border-radius 3px

      @media sm
        left auto
        right 0
        transform translateX(0)

      .slider-question--popup
        display block
        text-align left
        padding 10px
        background $cViolet
        position relative
        width 200px
        border-radius 3px

        &:after
          position absolute
          content ""
          width 0
          height 0
          border-style solid
          border-width 6px 6px 0 6px
          border-color $cViolet transparent transparent transparent
          bottom -6px
          left 50%
          transform translateX(-50%)

          @media sm
            left auto
            right 0

        *
          color $cWhite


.services-list
  display flex
  justify-content space-between
  align-items flex-start

  &--el
    display inline-block
    vertical-align top
    width 420px
    background $cWhite url(../img/bg--column-gray.jpg) no-repeat 50% 0
    background-size 100% auto
    padding 50px 40px
    box-sizing border-box
    border-radius 8px
    border-bottom 1px solid #61476f
    box-shadow 0 16px 59px rgba(142,91,208,0.2)

    @media md
      width 33.3%
      background transparent !important
      box-shadow none
      padding 0 10px
      border none

    @media sm
      padding 0 3px

    &.blue
      background $cWhite url(../img/bg--column-blue.jpg) no-repeat 50% 0

      h3
        @media md
          color $cBlue

    &.violet
      background $cWhite url(../img/bg--column-violet.jpg) no-repeat 50% 0

      h3
        @media md
          color $cViolet

    h3
      color $cWhite
      margin-bottom 113px

      @media md
        color $cBlack

      @media sm
        margin-bottom 20px
        font-size 16px
        text-align left

      &.mobile
        display none

        @media md
          display block

      &.desktop
        @media md
          display none

    &-text
      display block
      margin-bottom 2px

      li
        display block
        padding 15px 15px 19px 54px
        position relative
        border-radius 3px
        font-size 15px

        @media sm
          padding 5px 0 10px 5px

        @media md
          padding-left 0

        &:nth-child(odd)
          background #f2eaf4

          @media md
            background transparent

        &:before
          position absolute
          content "\f061"
          font-family $fAwesome
          color $cViolet
          left 23px
          top 50%
          margin-top -12px

          @media md
            display none


    &-price
      display block
      text-align center
      font-size 50px
      line-height 70px
      font-family $fCatorze
      color $cViolet
      margin-bottom 20px

      @media md
        font-size 40px

      @media sm
        font-size 30px

    .btn
      @media sm
        font-size 11px
        padding 7px 0

.jq-selectbox
  display block !important

  .jq-selectbox__select
    border 2px solid $cViolet !important
    border-radius 3px
    box-shadow none !important
    outline none
    background transparent
    height auto
    padding 12px 20px

    .jq-selectbox__select-text
      height auto
      font-size 15px

    .jq-selectbox__trigger
      border-left none
      display inline-block
      vertical-align top
      position absolute
      right 0
      top 0
      bottom 0

      .jq-selectbox__trigger-arrow
        border none
        font-family $fAwesome
        right 10px
        position absolute
        top 8px

        &:after
          font-weight bold
          font-size 24px
          box-shadow none
          content "\f107"

  .jq-selectbox__dropdown
    box-shadow none
    background $cWhite
    border none
    left 0
    right 0
    box-shadow  0 3px 10px rgba(183,62,226,.4)

    ul
      border none

      li
        display block
        padding 11px 20px
        font-size 15px
        background transparent !important
        border-bottom 1px solid #f5effd
        color $cBlack !important

        &.sel
          color $cViolet !important

          &:hover
            color $cViolet !important

.breadcrumds
  padding 40px 0 30px

  ul
    li
      display inline-block
      vertical-align top
      margin-right 11px

      @media sm
        margin-bottom 15px

      &:first-child
        a
          border-left 2px solid $cViolet
          border-radius 3px 0 0 3px
          padding 0 20px 0 18px

          &:before
            display none

      a
        display block
        border-top 2px solid $cViolet
        border-bottom 2px solid $cViolet
        position relative
        padding 0 20px 0 12px
        height 30px
        line-height 28px

        &:before
          position absolute
          content ""
          sprite($decor_left)
          top 0
          bottom 0
          left -9px
        &:after
          position absolute
          content ""
          sprite($decor_left)
          top 0
          bottom 0
          right -5px

      span
        display block
        border-top 2px solid transparent
        border-bottom 2px solid transparent
        background rgba(161,100,240,0.1)
        position relative
        padding 0 20px 0 12px
        height 34px
        line-height 32px
        border-radius 0 3px 3px 0
        margin-top -2px

        &:before
          position absolute
          content ""
          sprite($decor_left_transparent)
          top 0
          bottom 0
          left -10px

.pagination
  text-align center
  position relative

  .arrow
    display inline-block
    vertical-align bottom
    width 52px
    height 52px
    border 2px solid $cBlack
    border-radius 3px
    text-align center
    margin 0 40px
    background transparent
    transition all .2s ease-in-out

    &:hover
      border 2px solid #e2d5f5
      background #e2d5f5

      .icon
        color $cBlack

    &.arrow-left
      left 50%
      margin-left -15px
    &.arrow-right
      position absolute
      top 0
      left 50%
      margin-left 5px

    .icon
      line-height 52px
      font-size 20px
      font-weight bold
      color $cViolet

  ul
    display inline-block
    vertical-align bottom
    border-bottom 1px solid #e2d5f5

    li
      display inline-block
      vertical-align bottom
      margin 0 15px

      @media sm
        margin 0 5px

      &:first-child
        margin-left 0
      &:last-child
        margin-right 0

      a,
      span
        display block
        line-height 52px
        width 26px
        font-size 18px
        color $cBlack
        margin-bottom -2px
        border-bottom 4px solid transparent

      a:hover,
      span
        border-bottom 4px solid $cViolet
        color $cViolet

.tabs
  .justifyed
    @media md
      display block !important

  &--content
    display none

    &.active
      display block

  .tabs--caption-wrap
    display inline-block
    vertical-align top
    width 580px
    padding 10px
    border 1px solid #c2c3c6
    border-radius 10px

    @media sm
      width 280px

    .tabs--caption
      display flex
      border 1px solid #c2c3c6
      border-radius 5px
      justify-content space-between
      align-content space-between
      flex-flow wrap
      height 320px

      @media sm
        height 150px

      li
        display inline-flex
        vertical-align top
        width 139px
        height 125px
        align-items center
        justify-content center
        border 1px solid #c2c3c6
        cursor pointer

        @media sm
          width 60px
          height 60px

        &.active
          border 1px solid $cViolet !important
          cursor default

          span
            background transparent
            color $cViolet

        span
          display block
          width 75px
          height 75px
          border-radius 75px
          text-align center
          line-height 78px
          font-family $fCatorze
          font-size 40px
          background $cWhite

          @media sm
            font-size 25px
            width 20px
            height 20px
            line-height 20px

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4)
          border-bottom none
          margin-top -1px

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8)
          border-top none
          margin-bottom -1px

        &:nth-child(1),
        &:nth-child(5)
          margin-left -1px

        &:nth-child(4),
        &:nth-child(8)
          margin-right -1px

        &:nth-child(1)
          border-radius 5px 0 0 0
        &:nth-child(4)
          border-radius 0 5px 0 0
        &:nth-child(5)
          border-radius 0 0 0 5px
        &:nth-child(8)
          border-radius 0 0 5px 0

.works-list
  padding-bottom 210px
  position relative
  width 1950px
  left 50%
  transform translateX(-50%)

  .owl-next,
  .owl-prev
    position absolute
    bottom 86px
    transition all 0.2s ease-in-out
    box-sizing border-box

    &:hover
      color $cViolet

      &:after
        background transparent
        border 2px solid $cBlack
        color $cViolet

  .owl-prev
    padding-right 80px
    left 50%
    margin-left -130px

    &:after
      position absolute
      right 0
      top 50%
      width 54px
      height 54px
      border-radius 3px
      border 2px solid rgba(161,100,240,0)
      content "\f104"
      background rgba(161,100,240,0.2)
      color $cBlack
      text-align center
      line-height 54px
      transition all 0.2s ease-in-out
      margin-top -30px
      font-family $fAwesome
      font-weight bold
      font-size 22px

  .owl-next
    padding-left 80px
    left 50%

    &:after
      position absolute
      left 0
      top 50%
      width 54px
      height 54px
      border-radius 3px
      border 2px solid rgba(161,100,240,0)
      content "\f105"
      background rgba(161,100,240,0.2)
      color $cBlack
      text-align center
      line-height 54px
      transition all 0.2s ease-in-out
      margin-top -30px
      font-family $fAwesome
      font-weight bold
      font-size 22px

  &--el
    a
      display block

      img
        width 100%
        border-radius 10px

