block vars
    - var title='Title'

    extends ../../partials/layout

block content

    include ../../partials/header-decor

    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    span  Фотостудия &#8470;&nbsp;1&nbsp;&mdash; отзывы

    main
        .width-wrap
            h2.mb65 Фотостудия &#8470;&nbsp;1&nbsp;&mdash; отзывы

            p Мы&nbsp;не&nbsp;стали собирать картинки хороших отзывов на&nbsp;нашем сайте, т.к. это не&nbsp;является достоверным.
            p.mb65 Мы&nbsp;просто нашли открытые источники в&nbsp;которых о&nbsp;нас пишут в&nbsp;сети.

            ul.feedback-list.mb65
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-1.jpg" alt /)
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-2.jpg" alt /)
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-3.jpg" alt /)
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-4.jpg" alt /)
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-5.jpg" alt /)
                .feedback-list--el.two-tvelfth
                    a(href="" target="_blank")
                        img(src="../../../img/icon--feedback-6.jpg" alt /)

            p.mb65 Спасибо, что оставляете отзывы о&nbsp;нашей работе! Мы&nbsp;всегда рады услышать ваше мнение, это помогает нам становиться лучше.

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/feedback.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});