block vars
    - var title='Title'

    extends ../../partials/layout

block content

    include ../../partials/header-session

    main
        section(style="background: url(../../../img/bg--banner-exp.jpg) no-repeat 50% 0;").service-top
            span.service-top-bg Фотосессия

            .width-wrap
                h2 Фотосессия для беременных от&nbsp;6500р

                span В&nbsp;стоимость входит:

                ul.service-top--list.mb75
                    li Аренда фотостудии
                    li Одежда
                    li Макияж
                    li Укладка
                    li Обработка фото

                .service-top--btns
                    a(href="#booking").btn.btn-gradient.js--page-scroll Забронировать фотосессию
                    a(href="#calculate").calendar.js--page-scroll
                        .icon.icon--calendar
                        span Рассчитать стоимость

                .service-top--icon
                    .icon

        section.service-nav.mb30
            .width-wrap
                ul.service-nav--top
                    li
                        span Виды фотосессий
                    li
                        a(href="") Интерьеры
                    li
                        a(href="") Гардероб
                    li
                        a(href="") Подарочный сертификат
                    li
                        a(href="") Отзывы
                    li
                        a(href="") Блог
                    li
                        a(href="") Контакты

                ul.service-nav--bottom
                    li
                        span Для беременных
                    li
                        a(href="") Семейная
                    li
                        a(href="") Свадебная
                    li
                        a(href="") Детская
                    li
                        a(href="") Для девушки
                    li
                        a(href="") Для мужчины
                    li
                        a(href="") Лав стори
                    li
                        a(href="") На день рождения

        section.service-works
            .width-wrap
                ul.load-container
                    li.four-tvelfth
                        a(href="../../../img/img--exp-1.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-1.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--exp-2.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-2.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--exp-3.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-3.jpg" alt /)
                    li.six-tvelfth
                        a(href="../../../img/img--exp-4.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-4.jpg" alt /)
                    li.six-tvelfth
                        a(href="../../../img/img--exp-5.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-5.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--exp-6.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-6.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--exp-7.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-7.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--exp-8.jpg" data-fancybox-group="works").fancy
                            img(src="../../../img/img--exp-8.jpg" alt /)

                a(href="" data-url="../../../js/ajax/load_photo.php" data-method="post").btn.js--load-more.btn-violet
                    span Смотреть еще
                    .icon.icon--eye

        section(id="calculate").service-calc
            .width-wrap
                form(action="../../../js/ajax/send-ok.php" method="post").calc
                    h2 Калькулятор стоимости
                    span В фотосесссии принимают участие до 5 человек

                    .justifyed
                        .calc--left
                            .label-slider.mb40
                                span.label-title Количество интерьеров

                                input(type="text" name="" value='1').inp.inp-interier

                                .label-slider-wrap
                                    .label-slider-number
                                    div(data-min="1" data-max="5" data-step="1" data-current="1").range-slider

                                .slider-question
                                    span ?

                                    .slider-question--popup-wrap
                                        .slider-question--popup
                                            p Какой-то текст с подсказкой

                            .label-slider.mb40
                                span.label-title Количество образов:

                                input(type="text" name="" value='1').inp.inp-look

                                .label-slider-wrap
                                    .label-slider-number
                                    div(data-min="1" data-max="5" data-step="1" data-current="1").range-slider

                                .slider-question
                                    span ?

                                    .slider-question--popup-wrap
                                        .slider-question--popup
                                            p Какой-то текст с подсказкой

                            .justifyed
                                label.calc-radio
                                    input(type="radio" name="client" checked)
                                    span Для себя
                                label.calc-radio
                                    input(type="radio" name="client")
                                    span В подарок

                            ul.calc-services
                                li
                                    span.calc-services-name Аренда фотостудии
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее
                                li
                                    span.calc-services-name Макияж
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее
                                li
                                    span.calc-services-name Укладка
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее
                                li
                                    span.calc-services-name Одежда
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее
                                li
                                    span.calc-services-name Обувь
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее
                                li
                                    span.calc-services-name Аксессуары
                                    span.calc-services-about Входит в стоимость
                                    a(href="../pagePopup/pageMore.html" class="fancybox.ajax").calc-services-more.btn.fancy Подробнее

                        .calc--right
                            ul.calc-text
                                li Наш стилист подберет вам наряды и сделает                             укладку для
                                    =" "
                                    i.calc-text-look 1 образа
                                    =" руководствуясь вашими                             пожеланиями"
                                li Профессиональный визажист сделает вам макияж в&nbsp;соответсвии со&nbsp;стилей вашей фотосессии
                                li Фотосессия будет проходить в
                                    =" "
                                    i.calc-text-room 1 интерьере
                                    =". Весь реквизит уже включен в стоимость"
                                li На&nbsp;площадке с&nbsp;вами будет работать профессиональный фотограф, подсказывая вам наиболее удачные позы и&nbsp;ракурсы

                            p.result.violet В&nbsp;течении 2&nbsp;дней с&nbsp;момента съемки вы&nbsp;получите обработанные снимки на&nbsp;почту, загруженные на&nbsp;файлообменник

                            a(href="").btn.btn-gradient.show-full.js--show-full Что входит в фотосессию

                            span.calc-text--total Стоимость вашей фотосесии составляет:
                            h3.calc-text--value.violet.mb30 6500р

                            a(href="../pagePopup/pageDate.html" class="fancybox.ajax").fancy.btn.btn-gradient.set_date Выбрать дату и время



        section.service-pack
            .width-wrap
                h2.mb65 Вы можете выбрать один из пакетов

                .services-list
                    .services-list--el
                        h3.desktop Минимальный
                        h3.mobile Mini

                        ul.services-list--el-text
                            li Аренда фотостудии
                            li 1 образа
                            li 1 интерьер
                            li Макияж
                            li Укладка
                            li Одежда
                            li Обработка всей фотосессии (от 50 до 100 снимков с 1 интерьера)
                            li Участвует до 5 человек

                        span.services-list--el-price 6500
                            small Р

                        a(href="../pagePopup/pageBooking-silmple.html" class="fancybox.ajax").fancy.btn.btn-gradient Забронировать

                    .services-list--el.blue
                        h3 Стандарт

                        ul.services-list--el-text.mb40
                            li Аренда фотостудии
                            li 2 образа
                            li 2 интерьера
                            li Макияж
                            li Укладка
                            li Одежда
                            li Обработка всей фотосессии (от 50 до 100 снимков с 1 интерьера)
                            li Участвует до 5 человек

                        span.services-list--el-price 8500
                            small Р

                        a(href="../pagePopup/pageBooking-silmple.html" class="fancybox.ajax").fancy.btn.btn-gradient Забронировать

                    .services-list--el.violet
                        h3 Премиум

                        ul.services-list--el-text
                            li Аренда фотостудии
                            li 3 образа
                            li 3 интерьера
                            li Макияж
                            li Укладка
                            li Одежда
                            li Обработка всей фотосессии (от 50 до 100 снимков с 1 интерьера)
                            li Участвует до 5 человек

                        span.services-list--el-price 10500
                            small Р

                        a(href="../pagePopup/pageBooking-silmple.html" class="fancybox.ajax").fancy.btn.btn-gradient Забронировать

        section.service-rooms.tabs
            span.service-rooms-bg Интерьеры

            .width-wrap
                h2.mb65 Интерьеры фотостудии

                .justifyed.mb80
                    .rooms--text
                        h3 8&nbsp;интерьеров в&nbsp;одном большом зале
                        p В&nbsp;нашей просторной, светлой фотостудии расположились 8&nbsp;интерьеров для фотосессии. Это очень удобно т.к.&nbsp;у&nbsp;нас вы&nbsp;можете провести несколько абсолютно разных по&nbsp;стилистике съемок, не&nbsp;выходя из&nbsp;зала.

                    .tabs--caption-wrap
                        ul.tabs--caption
                            li.active
                                span 1
                            li
                                span 2
                            li
                                span 3
                            li
                                span 4
                            li
                                span 5
                            li
                                span 6
                            li
                                span 7
                            li
                                span 8

            .tabs--content.active
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .tabs--content
                .works-list
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-16.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-6.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-17.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-7.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-18.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-8.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-19.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-9.jpg" alt /)
                    .works-list--el.four-tvelfth
                        a(href="../../../img/img--works-20.jpg" data-fancybox-group="works2").fancy
                            img(src="../../../img/img--works-10.jpg" alt /)

            .session-types
                span.session-types-bg Фотосессии

                .width-wrap
                    h2.mb65 Виды фотосессий для беременных

                    .session-types--el
                        img(src='../../../img/img--type-1.png' alt /)

                        .content
                            h4 Фотосессия беременных с&nbsp;мужем
                            p Разнообразный и&nbsp;богатый опыт консультация с&nbsp;широким активом играет важную роль в&nbsp;формировании систем массового участия. Таким образом реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании позиций, занимаемых участниками в&nbsp;отношении поставленных задач.
                            p Товарищи! начало повседневной работы по&nbsp;формированию позиции играет важную роль в&nbsp;формировании системы обучения кадров, соответствует насущным потребностям.

                    .session-types--el

                        img(src='../../../img/img--type-2.png' alt /)

                        .content
                            h4 Фотосессия беременных в&nbsp;студии
                            p Повседневная практика показывает, что консультация с&nbsp;широким активом требуют от&nbsp;нас анализа дальнейших направлений развития. Равным образом постоянный количественный рост и&nbsp;сфера нашей активности представляет собой интересный эксперимент проверки форм развития.
                            p Разнообразный и&nbsp;богатый опыт рамки и&nbsp;место обучения кадров представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.



        section.service-steps
            .width-wrap
                h2 Этапы фотосессии

                ul.service-steps-list
                    li.service-steps-list--el
                        span.number 1
                        h4 заявка
                        p Оставить нам заявку
                            i или позвонить
                    li.service-steps-list--el
                        span.number 2
                        h4 Бронь фотосессии
                        p В&nbsp;течении 20&nbsp;минут
                            i с&nbsp;Вами свяжется администратор для бронирования фотосесии и&nbsp;уточенения деталей
                    li.service-steps-list--el
                        span.number 3
                        h4 Предоплата
                        p Вносите предоплату за&nbsp;фотосессию в&nbsp;размере 3000&nbsp;руб.
                    li.service-steps-list--el
                        span.number 4
                        h4 Приезжаете к&nbsp;нам
                        p Приезжаете в&nbsp;назначенное
                            i время на&nbsp;фотосессию
                    li.service-steps-list--el
                        span.number 5
                        h4 Профессиональный визажист
                        p Профессиональный визажист делает макияж и&nbsp;укладку
                    li.service-steps-list--el
                        span.number 6
                        h4 Подборка нарядов
                        p Стилист подбирает наряды для выбранных вами образов
                    li.service-steps-list--el
                        span.number 7
                        h4 Фотосессия
                        p Профессиональный фотограф проводит фотосессию на&nbsp;выбранных Вами локациях, помогая Вам с&nbsp;выбором наиболее удачных поз и&nbsp;ракурсов
                    li.service-steps-list--el
                        span.number 8
                        h4 Оплата
                        p Оплачиваете оставшуюся
                            i сумму
                    li.service-steps-list--el
                        span.number 9
                        h4 Получаете фотографии
                        p В&nbsp;течении 2&nbsp;дней получаете обработанную фотосессию на&nbsp;указанную электронную почту

        section(id="booking").service-booking
            .width-wrap
                .main-form
                    h2.violet успейте забронировать
                    span.violet Успей забронировать время на фотосессию!

                    .justifyed
                        .one-half
                            label.inp-date-wrap
                                input(type="text" name="date").inp.inp-date

                        .one-half
                            select(name="tarif").selet-styled.select-time
                                option(value="10" selected) 10:00
                                option(value="11") 11:00
                                option(value="12") 12:00
                                option(value="13") 13:00
                                option(value="14") 14:00
                                option(value="15") 15:00
                                option(value="16") 16:00
                                option(value="17") 17:00
                                option(value="18") 18:00
                                option(value="19") 19:00
                                option(value="20") 20:00
                                option(value="21") 21:00
                                option(value="22") 22:00

                    p Благодаря тому что мы&nbsp;смогли предоставить самые лучшие условия для проведения фотосессии, многие даты уже почти полностью забронировать на&nbsp;весь день.
                    p Чтобы не&nbsp;упустить удобное для себя время, забронируй время под свою фотосессию прямо сейчас и&nbsp;уже никто занять

                    a(href="../pagePopup/pageBooking-getdate.html" class="fancybox.ajax").fancy.btn.btn-gradient Забронировать

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/sesstion.jpg",opacity: 0.5,top: 72,left: 0,center: false,clip: true,show: false});});