.popup
    h2 Фотостудия №1

    form(action="../../../js/ajax/send-ok.php" method="post").main-form
        label
            span Ваше имя
            input(type="text" name="name").inp.required
        label
            span Телефон
            input(type="text" name="phone").inp.required.inp-phone
        label
            span E-mail
            input(type="text" name="mail").inp.required.inp-mail
        label
            span Пакет фотосессии:

            select(name="tarif").selet-styled
                option(value="tarif1" selected) Мини - 6500р
                option(value="tarif1") Стандарт - 8500р
                option(value="tarif1") Премиум - 10500р
                option(value="tarif1") Делюкс - 20500р

        button(type="submit").btn.btn-gradient.js--form-submit Заказать сертификат
        a(href="../pagePopup/sended-ok.html").fancy.js--sended-ok

    script(type="text/javascript" ) $(function(){$('.selet-styled').styler();  $('.inp-phone').mask('+7 (999) 999-99-99');})

