.popup
    h2 Желаемая дата

    form(action="../../../js/ajax/send-ok.php" method="post").main-form
        input(type="hidden" name="room").inp-room
        input(type="hidden" name="look").inp-look
        label
            span Желаемая дата
            input(type="text" name="date").inp.required.inp-date
        label
            span Желаемое время
            select(name="tarif").selet-styled
                option(value="10" selected) 10:00
                option(value="11") 11:00
                option(value="12") 12:00
                option(value="13") 13:00
                option(value="14") 14:00
                option(value="15") 15:00
                option(value="16") 16:00
                option(value="17") 17:00
                option(value="18") 18:00
                option(value="19") 19:00
                option(value="20") 20:00
                option(value="21") 21:00
                option(value="22") 22:00
        label
            span Ваше имя
            input(type="text" name="name").inp.required
        label
            span Телефон
            input(type="text" name="phone").inp.required.inp-phone
        label
            span E-mail
            input(type="text" name="mail").inp.required.inp-mail

        button(type="submit").btn.btn-gradient.js--form-submit Заказать сертификат
        a(href="../pagePopup/sended-ok.html").fancy.js--sended-ok

    script(type="text/javascript" ) $(function(){$('.selet-styled').styler();  get_session_data();  $('.inp-phone').mask('+7 (999) 999-99-99');})

