.popup
    h2 Фотостудия №1

    form(action="../../../js/ajax/send-ok.php" method="post").main-form
        label
            span Ваше имя
            input(type="text" name="name").inp.required
        label
            span Телефон
            input(type="text" name="phone").inp.required.inp-phone
        label
            span E-mail
            input(type="text" name="mail").inp.required.inp-mail

        button(type="submit").btn.btn-gradient.js--form-submit Забронировать
        a(href="../pagePopup/sended-ok.html").fancy.js--sended-ok

    script(type="text/javascript" ) $(function(){$('.inp-phone').mask('+7 (999) 999-99-99');});

