.rooms
  &-list
    display flex
    justify-content space-between
    flex-flow wrap

    li
      margin-bottom 20px
      display inline-block
      vertical-align top

      @media md
        width 290px

      a
        display block

        img
          border-radius 10px

  &--text
    display inline-block
    vertical-align top
    width 480px

    @media md
      display block
      width auto
      margin-bottom 30px

    h3
      text-align left
      margin-bottom 11px

    p
      line-height 40px
      letter-spacing 2.6px

  .tabs--caption-wrap
    margin-top 13px

    @media md
      display block
      width auto
      margin-bottom 30px





