.sertificate
  &-letter
    position relative
    background url("../img/bg--sertificate.jpg") no-repeat 50% 50%

    @media md
      height 1200px

    @media sm
      height 850px

    .justifyed
      @media md
        display block !important
        position relative
        height 1200px
        padding-top 1px

      @media sm
        zoom 0.7

    &-bg
      position absolute
      left 50%
      top 400px
      font-size 275px
      color $cViolet
      opacity 0.1
      transform translate3d(-50%, -50%, 0)
      text-transform uppercase
      letter-spacing 50px

    &-cover
      position relative
      z-index 10
      width 700px
      height 547px
      background url("../img/img--sertificate-1.jpg") no-repeat 0 0
      box-shadow  0 3px 10px rgba(183,62,226,.4)

      @media md
        margin-top 525px
        width 100%
        background url("../img/img--sertificate-1.jpg") no-repeat 100% 0

      @media sm
        margin-top 425px

      h3
        position absolute
        right 50px
        bottom 40px
        background $cBlack
        color $cWhite
        padding 13px 13px
        text-transform uppercase
        display inline-block
        vertical-align top
        font-size 24px
        line-height 24px
        letter-spacing 2px

    &-inner
      position relative
      z-index 5
      margin-top 23px
      width 480px
      height 510px
      background url("../img/img--sertificate-2.jpg") no-repeat 0 0
      border-radius 0 10px 10px 0
      transition all 0.3s ease-in-out
      transform translate(-150px)

      @media md
        transform translate3d(-240px, 150px, 0)
        position absolute
        left 50%
        top 0

      @media sm
        width 400px
        height 410px
        background-size 100% 100%
        transform translate3d(-200px, 150px, 0)

      &.moved
        transform translate(0)

        @media md
          transform translate3d(-240px, 0, 0)
        @media sm
          transform translate3d(-200px, 0, 0)

      h2
        display block
        text-align center
        padding-top 200px

      span
        position absolute
        font-size 18px
        line-height 30px
        color #f0446d
        width 240px
        left 200px
        bottom 35px

        @media sm
          left 170px

  &-tarifs
    @media sm
      overflow-x scroll

    .width-wrap
      @media sm
        padding 0

    table
      width 100%
      collapse collapse

      tr
        min-height 56px

        &:nth-child(odd)
          td
            border-top 1px solid #e1d6f3
            border-bottom 1px solid #e1d6f3

            &:first-child
              border-left 1px solid #e1d6f3
              border-radius 3px 0 0 3px
            &:last-child
              border-right 1px solid #e1d6f3
              border-radius 0 3px 3px 0

        &.price
          td
            border none !important

        &:hover
          td
            span,
            .icon
              color $cViolet

        th,
        td
          width 200px
          padding-right 10px
          padding-top 14px
          padding-bottom 14px
          min-height 56px
          vertical-align middle
          box-sizing border-box
          text-align left

          @media md
            width 90px

          &:first-child
            width 266px
            padding-right 20px
            padding-left 20px

            @media md
              width 175px

            .icon
              float left
              margin-right 10px

          &:after
            content ""
            min-height 56px

          .icon
            font-size 14px
            line-height 22px
            transition all 0.2s ease-in-out

          h3
            text-align left
            transition all 0.2s ease-in-out

            @media md
              font-size 24px

          span
            font-size 15px
            line-height 20px
            transition all 0.2s ease-in-out

            &.mobile
              display none

              @media md
                display block

            &.desktop
              @media md
                display none

          .btn
            display inline-block
            vertical-align top
            width 165px

            @media md
              width 90px

  &-content
    ul
      li
        display inline-flex
        align-items center
        align-content center
        justify-content flex-start
        vertical-align top
        width 50%
        box-sizing border-box
        padding-left 100px
        font-size 18px
        line-height 30px
        margin-bottom 40px
        padding-right 50px
        flex-flow wrap
        position relative
        min-height 60px

        @media md
          display block
          width auto

        @media sm
          padding-right 0

        &:before
          position absolute
          content ""
          left 0
          top -10px

        &:nth-child(1):before
          sprite($icon_sertificate_1)
        &:nth-child(2):before
          sprite($icon_sertificate_2)
        &:nth-child(3):before
          sprite($icon_sertificate_3)
        &:nth-child(4):before
          sprite($icon_sertificate_4)
        &:nth-child(5):before
          sprite($icon_sertificate_5)
        &:nth-child(6):before
          sprite($icon_sertificate_6)
        &:nth-child(7):before
          sprite($icon_sertificate_7)
        &:nth-child(8):before
          sprite($icon_sertificate_8)

        i
          display block

  &-form
    .justifyed
      @media md
        display block !important

    &-model
      display inline-block
      vertical-align top
      width 780px
      position relative
      padding-top 75px

      @media md
        display block
        width auto
        margin-bottom 40px
        padding-top 20px



    &-cover
      position relative
      z-index 10
      width 700px
      height 547px
      background url("../img/img--sertificate-1.jpg") no-repeat 0 0
      box-shadow  0 3px 10px rgba(183,62,226,.4)

      @media md
        width 580px
        background url("../img/img--sertificate-1.jpg") no-repeat 100% 0

      h3
        position absolute
        right 50px
        bottom 40px
        background $cBlack
        color $cWhite
        padding 13px 13px
        text-transform uppercase
        display inline-block
        vertical-align top
        font-size 24px
        line-height 24px
        letter-spacing 2px

        @media md
          font-size 22px

    &--letter
      position absolute
      z-index 20
      width 700px
      height 550px
      border 2px solid $cBlack
      border-radius 10px
      top 0
      left 80px
      background $cWhite
      padding 0 100px
      box-sizing border-box

      @media md
        width 580px
        height 510px
        padding 0 40px
        left 20px

      @media sm
        width auto
        left 20px
        right 0
        padding 0 20px 20px
        height auto

      &-number
        position absolute
        left 0
        top 0
        padding 20px 17px
        border-right 2px solid $cBlack
        border-bottom 2px solid $cBlack
        border-radius  0 0 10px 0
        font-size 15px

      h3
        padding 66px 20px 0
        text-align center
        min-height 145px

        @media sm
          line-height 40px
          padding 65px 0 0
          font-size 26px

      &-text
        display block
        font-size 18px
        line-height 30px
        height 155px

        @media sm
          height auto
          margin-bottom 30px
          line-height 30px !important

      &-notificate
        display block
        margin-bottom 30px

      &-contacts
        display block
        font-size 25px

    .main-form
      display inline-block
      vertical-align top
      width 320px
      margin-top -9px

      @media md
        display block
        width auto

    p
      font-size 16px
      line-height 40px

      @media sm
        line-height 30px