.feedback

  &-list
    display flex
    justify-content space-between
    flex-flow wrap

    &--el
      display inline-block
      vertical-align top

      @media md
        margin-bottom 30px

      @media sm
        display block
        text-align center
        width 100%

      a
        display flex
        align-items center
        justify-content center
        height 180px
        border-radius 10px
        transition all 0.2s ease-in-out
        background $cWhite
        box-shadow 0 16px 59px rgba(142,91,208,0)

        &:hover
          box-shadow 0 16px 59px rgba(142,91,208,0.2)

          img
            filter grayscale(0)

        img
          display block
          transition all 0.2s ease-in-out
          filter grayscale(100%)