block vars

footer.footer
    div(id="map").footer-map

    .footer-content
        .width-wrap
            .justifyed
                .footer--logo
                    a(href="") ФОТОСТУДИЯ №1
                .footer--btn
                    a(href="../pagePopup/pagePay.html" class="fancybox.ajax").btn.btn-white.fancy Внести предоплату
                .footer--contacts
                    ul.footer--contacts-social
                        li
                            a(href="" target="_blank")
                                i.icon.icon--vk
                        li
                            a(href="" target="_blank")
                                i.icon.icon--fb
                        li
                            a(href="" target="_blank")
                                i.icon.icon--in
                    .footer--contacts-phones
                        a(href="tel:+74952112041").footer--contacts-phones-violet
                            .icon.icon--phone
                            span +7 (495) 211-20-41
                        a(href="tel:+79852112041").footer--contacts-phones-green
                            .icon.icon--wa
                            span +7 (985) 211-20-41

            ul.footer--nav
                li
                    a(href="") Для беременных
                li
                    a(href="") Семейная
                li
                    a(href="") Лав стори
                li
                    a(href="") Свадебная
                li
                    a(href="") Детская
                li
                    a(href="") Для девушки
                li
                    a(href="") Для мужчины
                li
                    a(href="") На день рождения
                li
                    a(href="") Предметная съемка
                li
                    a(href="") Интерьеры
                li
                    a(href="") Гардероб
                li
                    a(href="") Подарочный сертификат
                li
                    a(href="") Отзывы
                li
                    a(href="") Блог
                li
                    a(href="") Контакты