ul.justifyed
    li.js--show-inner
        a(href="#") Виды фотосессий

        ul.nav-inner
            li
                span Вид фотосессии
            li
                a(href="")  Вид фотосессии

    li
        a(href="") Интерьеры
    li
        a(href="") Гардероб
    li
        a(href="") Подарочный сертификат
    li
        a(href="") Отзывы
    li
        a(href="") Блог
    li
        a(href="") Контакты