block vars

header.header.header-bg
    .header-top
        .width-wrap.justifyed
            a(href="").header--logo ФОТОСТУДИЯ №1
            .header--phones
                a(href="tel:+74952112041").header--phones-violet
                    .icon.icon--phone
                    span +7 (495) 211-20-41
                a(href="tel:+79852112041").header--phones-green
                    .icon.icon--wa
                    span +7 (985) 211-20-41

            a(href="").open-menu.js--open-menu.icon.icon--bars

    .header-bottom
        .header-bottom-mobile
            span Меню
            a(href="").close-menu.js--close-menu.icon.icon--close.red

        nav.width-wrap
            include header-nav