.sertificate-tarifs.mb65
    .width-wrap
        table
            tr
                th
                th
                    h3 Mini
                th
                    h3.blue Standart
                th
                    h3.violet Premium
                th
                    h3.red Delux

            tr
                td
                    .icon.icon--arrow
                    span Аренда фотостудии

                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check

            tr
                td
                    .icon.icon--arrow
                    span одежда для фотосессии

                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check

            tr
                td
                    .icon.icon--arrow
                    span Макияж

                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check

            tr
                td
                    .icon.icon--arrow
                    span Укладка

                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check
                td
                    .icon.icon--check

            tr
                td
                    .icon.icon--arrow
                    span Обработка фото

                td
                    span.desktop Вся фотосессия
                    span.mobile Вся фотосес.
                td
                    span.desktop Вся фотосессия
                    span.mobile Вся фотосес.
                td
                    span.desktop Вся фотосессия
                    span.mobile Вся фотосес.
                td
                    span.desktop Вся фотосессия
                    span.mobile Вся фотосес.

            tr
                td
                    .icon.icon--arrow
                    span Именной текст в&nbsp;сертификате

                td
                    span.desktop Стандартный или индивидуальный
                    span.mobile Станд. или индивид.
                td
                    span.desktop Стандартный или индивидуальный
                    span.mobile Станд. или индивид.
                td
                    span.desktop Стандартный или индивидуальный
                    span.mobile Станд. или индивид.
                td
                    span.desktop Стандартный или индивидуальный
                    span.mobile Станд. или индивид.

            tr
                td
                    .icon.icon--arrow
                    span Учестников фотосессии

                td
                    span до 5 человек
                td
                    span до 5 человек
                td
                    span до 5 человек
                td
                    span до 5 человек

            tr
                td
                    .icon.icon--arrow
                    span Количество интерьеров

                td
                    span 1 интерьер
                td
                    span 2 интерьера
                td
                    span 3 интерьера
                td
                    span 8 интерьера

            tr
                td
                    .icon.icon--arrow
                    span Время фотосессии

                td
                    span 1 час
                td
                    span 1,5 часа
                td
                    span 2 часа
                td
                    span 4 часа

            tr.price
                td
                td
                    h3 6500Р
                td
                    h3 8500Р
                td
                    h3 10500Р
                td
                    h3 20500Р

            tr
                td
                td
                    a(href="../pagePopup/pageSertificate.html" class="fancybox.ajax").btn.btn-gradient.fancy Заказать
                td
                    a(href="../pagePopup/pageSertificate.html" class="fancybox.ajax").btn.btn-gradient.fancy Заказать
                td
                    a(href="../pagePopup/pageSertificate.html" class="fancybox.ajax").btn.btn-gradient.fancy Заказать
                td
                    a(href="../pagePopup/pageSertificate.html" class="fancybox.ajax").btn.btn-gradient.fancy Заказать