.psevdofooter
  height 673px

  @media md
    height 946px

.footer
  position absolute
  height 673px
  left 0
  right 0
  bottom 0

  @media md
    height 946px

  #map
    position absolute
    right 0
    width calc(50vw + 80px)
    bottom 0
    height 420px
    z-index 20
    border-radius 150px 0 0 0
    overflow hidden

    @media md
      width 585px
      left 50%
      margin-left -210px

    @media sm
      width 100vw
      margin-left 0
      left 0
      height 390px

  .justifyed
    margin-bottom 60px

    @media sm
      margin-bottom 15px

  &-content
    position absolute    
    z-index 10
    left 0
    right 0
    top 0
    bottom 0
    background url("../img/bg--map.png") no-repeat 50% 50%
    padding-top 140px

    @media md
      background url("../img/bg--map-mobile.png") no-repeat 50% 0
      padding-top 105px

    @media sm
      padding-top 35px

    .justifyed
      @media md
        flex-flow wrap
        margin-bottom 45px

      @media sm
        margin-bottom 15px

  &--logo
    display inline-block
    vertical-align top
    width 460px

    @media md
      width auto

    @media sm
      display block
      text-align center
      width 100%

    a
      display inline-block
      vertical-align top
      background $cBlack
      color $cWhite
      font-family $fCatorze
      font-size 30px
      text-transform uppercase
      padding 19px 18px

      @media md
        font-size 25px

      @media sm
        font-size 20px
        padding 10px
        width 220px
        display block
        margin 0 auto 10px
        text-align center

  &--btn
    display inline-block
    vertical-align top
    width 240px

    @media md
      width 310px

    @media sm
      width 280px
      padding 12px 0

  &--contacts
    width 430px
    text-align right

    @media md
      display  flex !important
      justify-content space-between
      align-content center
      align-items center
      width 100%
      padding-top 18px

    @media sm
      display block !important

    &-social
      display inline-block
      vertical-align top
      margin-top 22px

      @media md
        margin-top 0

      @media sm
        display block
        text-align center
        width 100%

      li
        display inline-block
        vertical-align top
        margin-left 17px

        &:first-child
          margin-left 0

        a
          display block
          color $cWhite
          font-size 24px
          transition all 0.2s ease-in-out

          &:hover
            color $cBlack

    &-phones
      display inline-block
      vertical-align top
      margin-left 30px
      text-align right

      @media md
        white-space nowrap

      @media sm
        margin-left 0
        text-align center
        width auto
        display block

      a
        display flex
        align-items center
        margin-bottom 15px
        font-size 25px
        position relative
        letter-spacing 2.6px
        justify-content flex-end

        @media md
          display inline-flex
          font-size 20px
          margin 20px
          margin-right 0

        @media sm
          display block
          margin-bottom 5px

        span
          font-size 25px
          color $cWhite
          letter-spacing 2px

          @media md
            font-size 20px
            letter-spacing 0

      .icon
        display inline-block
        vertical-align top
        margin-right 10px

        &--wa
          color #0dc143
          margin-right 17px

        &--phone
          color $cWhite

  &--nav
    display block
    width 400px

    @media sm
      width auto

    li
      display inline-block
      vertical-align top
      width 200px
      margin-bottom 15px

      @media md
        width 33%

      @media sm
        width 50%
        margin-bottom 5px

      a
        display block
        color $cWhite
        font-size 15px

        @media sm
          font-size 11px


