.header
  position absolute
  left 0
  right 0
  top 0
  z-index 10

  &.header-bg
    position relative
    background url("../img/bg--header.jpg") no-repeat 50% 50%
    background-size cover

  &-top
    border-bottom 1px solid #e4d2f3

    .width-wrap
      padding 20px 0
      align-items center

      @media sm
        display block !important

  &-bottom
    border-bottom 1px solid #e4d2f3

    @media md
      position fixed
      top 0
      bottom 0
      right 0
      left 0
      background rgba(255,255,255,0.4)
      transition all 0.2s ease-in-out
      transform translateX(150%)

    &.header-sevice
      display none

      @media md
        display block

    &.open
      @media md
        transform translateX(0)

    &-mobile
      display none

      @media md
        display block
        width 362px
        border-left 2px solid rgba(183,62,226,.2)
        background $cWhite
        padding 35px 50px
        text-align right
        position absolute
        top 0
        right 0
        box-sizing border-box

      span
        display inline-block
        vertical-align top
        margin-right 10px
        font-size 25px

      a
        font-family $fAwesome

    .width-wrap
      padding 0
      align-items center

  .open-menu
    display none

    @media md
      display inline-block
      vertical-align top
      color $cViolet

    @media sm
      position absolute
      right 5px
      top 15px

    &:after
      display none

  &--logo
    display inline-block
    vertical-align top
    background $cBlack
    color $cWhite
    font-family $fCatorze
    font-size 30px
    text-transform uppercase
    padding 19px 18px

    @media md
      font-size 25px

    @media sm
      display block
      width 225px
      margin 0 auto 20px
      text-align center

  &--phones
    display inline-block
    vertical-align top

    a
      display inline-flex
      align-items center
      font-size 25px
      margin-left 30px
      position relative
      letter-spacing 2.6px

      @media md
        display flex
        margin-bottom 10px

      span
        font-size 25px
        letter-spacing 2px

    .icon
      display inline-block
      vertical-align top
      margin-right 10px

      &--wa
        color #0dc143

  nav
    @media md
      position absolute
      right 0
      width 360px
      background $cWhite
      border-left 2px solid rgba(183,62,226,.2)
      top 90px
      bottom 0

    @media sm
      width 100vw

    ul
      margin-bottom -2px

      &.justifyed
        @media md
          display block

      li
        position relative

        @media md
          padding 20px 20px 20px 50px

        &.js--show-inner:after
          @media md
            position absolute
            content "\f107"
            font-family $fAwesome
            color $cViolet
            right 20px
            top 30px
            transform translateY(-50%)
            font-size 20px
            font-weight bold

        &:hover
          .nav-inner
            opacity 1
            pointer-events auto

          @media md
            border-left 4px solid $cViolet
            border-bottom transparent

          a
            @media md
              color $cViolet

              &:hover
                border-bottom none

        @media md
          background transparent
          margin-left -4px
          border-left 4px solid transparent
          border-radius 3px 0 0 3px
          display block

        a
          display block
          padding 21px 25px
          font-size 18px
          transition all 0.2s ease-in-out
          position relative
          border-bottom 4px solid transparent

          @media md
            padding 0
            border-bottom none

          @media sm
            padding 0

          &:hover
            color $cViolet
            border-bottom 4px solid $cViolet

        .nav-inner
          position absolute
          z-index 10px
          box-shadow 0 16px 59px rgba(142,91,208,0.2)
          opacity 0
          pointer-events none
          background $cWhite

          @media md
            display none
            position relative
            opacity 1
            box-shadow none
            background transparent
            padding-top 20px
            margin-left -30px

          li
            display block

            @media md
              margin-bottom 5px
              padding 0

            &:last-child
              margin-bottom 0

            a,
            span
              display block
              padding 10px 25px
              border-bottom 1px solid $cGray_bg

              @media md
                background #f4edfc
                text-align center
                border 2px solid #f4edfc

            span
              @media md
                background transparent
                border 2px solid $cViolet
                color $cViolet