article

  h2
    margin-bottom 70px

  img
    display block
    margin-bottom 64px
    border-radius 10px

  h4
    margin-bottom 20px

  p
    display block
    margin-bottom 25px
    line-height 26px
    font-size 16px

.articles
  h2
    margin-bottom 60px

.articles-list
  display block

  &.articles-list-vertical
    display flex
    justify-content space-between
    flex-flow wrap

    @media md
      display block

    .articles-list--el
      display inline-block
      vertical-align top
      margin-bottom 0

      @media md
        display block
        margin-bottom 30px
        width auto !important

      .articles-list--el-img
        display block
        margin-bottom 20px

      .articles-list--el-time
        margin-bottom 20px

  &--el
    display flex
    justify-content space-between
    align-items flex-start
    align-content flex-start
    margin-bottom 70px

    @media md
      display block
      margin-bottom 30px

    &:hover
      .articles-list--el-img
        &:after
          opacity 1

        img
          box-shadow 0 16px 59px rgba(142, 91, 208, 0.6)

      .articles-list--el-link
        span
          color $cViolet

    &-img
      width 400px
      max-width 100%
      transition all .2s ease-in-out
      height auto
      position relative
      line-height 1px
      font-size 0
      padding 0
      display inline-block
      vertical-align top

      @media md
        display block
        margin 0 auto 30px
        width auto

      &:after
        position absolute
        content ""
        left 0
        top 0
        right 0
        bottom 0
        border-radius 10px
        transition all .2s ease-in-out
        background rgba(142, 91, 208,0.6)
        opacity 0
        z-index 5

      img
        display block
        line-height 1px
        border-radius 10px
        width 100%
        box-shadow 0 16px 59px rgba(142, 91, 208, 0)
        margin 0

    .content
      display inline-block
      vertical-align top

      @media sm
        width auto

    &-title
      display block
      line-height 30px
      margin-bottom 9px

    &-time
      display block
      color #909794

      .icon
        display inline-block
        vertical-align top
        margin-right 5px

      time
        display inline-block
        vertical-align top
        color #909794

    p
      display block
      margin-bottom 25px
      font-size 15px
      line-height 26px

    &-link
      padding-left 20px

      .icon
        display inline-block
        vertical-align top
        font-size 20px
        margin-left -20px
        font-weight bold
        color $cViolet
        margin-right 5px

      span
        display inline-block
        vertical-align top
        text-decoration underline
        transition all .2s ease-in-out