$cWhite = #ffffff
$cGray_bg = #e7e2f5
$cBlack = #1c181b
$cBlue = #878bfa
$cViolet = #a164f0
$cViolet_d = #a064ef
$cViolet_sh = #5d4671
$cViolet_bg = #e0d5f4
$cViolet_bg_d = #d9c9f4
$cRed = #f1436c

&.red
  color $cRed
&.violet
  color $cViolet
&.blue
  color  #868cfa
