@font-face {
  font-family: 'Awesome';
  src: url('../fonts/Awesome/fontawesome-webfont.eot');
  src: url('../fonts/Awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Awesome/fontawesome-webfont.woff2') format('woff2'),
       url('../fonts/Awesome/fontawesome-webfont.woff') format('woff'),
       url('../fonts/Awesome/fontawesome-webfont.ttf') format('truetype'),
       url('../fonts/Awesome/fontawesome-webfont.svg#als_rublregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "Catorze27";
    src: url("../fonts/Catorze27/Catorze27.eot");
    src: url("../fonts/Catorze27/Catorze27.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Catorze27/Catorze27.woff") format("woff"),
    url("../fonts/Catorze27/Catorze27.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DinProMedium";
    src: url("../fonts/DinPro/DinProMedium.eot");
    src: url("../fonts/DinPro/DinProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DinPro/DinProMedium.woff") format("woff"),
    url("../fonts/DinPro/DinProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
  font-family: "DinProRegular";
  src: url("../fonts/DinPro/DinPro.eot");
  src: url("../fonts/DinPro/DinPro.eot?#iefix")format("embedded-opentype"),
  url("../fonts/DinPro/DinPro.woff") format("woff"),
  url("../fonts/DinPro/DinPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

// font vars

$fDinPro = DinProRegular, sans-serif
$fDinPro_m = DinProMedium, sans-serif
$fCatorze = Catorze27, sans-serif
$fAwesome = Awesome, sans-serif