html *
  max-height 999999px //android font-size fix
  -webkit-font-smoothing antialiased 

html
body
  margin 0
  padding 0
  width 100%
  height 100%
  min-width 320px

body
  font-family $fDinPro_m
  font-size 18px
  color $cBlack
  min-height 100%
  height 100%
  position relative
  -webkit-text-size-adjust 100%

.page-wrap
  min-height 100%
  position relative
  min-width 320px
  overflow hidden
  background url(../img/bg--points.jpg) repeat 0 0

img
  max-width 100%

form,
p,
ul, ol,
dl, dt, dd,
h1, h2, h3, h4, h5, h6
  margin 0 
  padding 0 
  font-weight normal 
  list-style none

// .section

.pull-right
  float right

.pull-left
  float left

.text-center
  text-align center

.text-right
  text-align right
   
.section
  position relative

.width-wrap
  display block
  margin 0 auto
  width 1180px

  @media md
    width 600px

  @media sm
    width auto
    padding 0 15px

// отступы между горизонтальными li
ol, ul, .grid
  list-style none 
  font-size:0 
  line-height:0 
  letter-spacing:-1px 


li, .grid-item
  line-height:normal 
  letter-spacing:normal 
  display:inline-block 
  vertical-align top 
  zoom:1

.hidden-block
  display none !important

.mb30
  margin-bottom 30px
.mb40
  margin-bottom 40px
.mb65
  margin-bottom 65px
.mb75
  margin-bottom 75px
.mb80
  margin-bottom 80px

*.justifyed
  display flex
  justify-content space-between

*.two-tvelfth
  width 180px
  display inline-block
  vertical-align top
*.three-tvelfth
  width 280px
  display inline-block
  vertical-align top
*.four-tvelfth
  width 380px
  display inline-block
  vertical-align top
  @media sm
    width 100%
    display block
*.five-tvelfth
  width 480px
  display inline-block
  vertical-align top
  @media sm
    width 100%
    display block
*.six-tvelfth
  width 580px
  display inline-block
  vertical-align top
  @media sm
    width 100%
    display block
*.seven-tvelfth
  width 680px
  display inline-block
  vertical-align top
  @media sm
    width 100%
    display block