a, p, span, li, input, time, blockquote, textarea
  font-family $fDinPro_m
  font-size 18px
  line-height 24px
  text-decoration none
  color $cBlack
  letter-spacing 1.8px

  @media md
    font-size 15px

i
  display block
  font-style normal

  @media md
    display inline

a
  cursor pointer
  outline none
  text-decoration none
  border none

img
  border none

h1
  font-family $fLato
  color $cBlack
  font-size 48px
  line-height 73px
  text-align left
  display block
  font-weight bold

h2
  font-family $fCatorze
  color $cBlack
  font-size 50px
  line-height 60px
  display block
  text-transform uppercase
  text-align center
  letter-spacing 3px

  @media md
    letter-spacing 1px

  @media sm
    font-size 36px

h3
  font-family $fCatorze
  color $cBlack
  font-size 40px
  line-height 60px
  display block
  text-transform uppercase
  text-align center
  letter-spacing 3px

  @media sm
    font-size 30px

h4
  color $cBlack
  font-size 25px
  line-height 40px
  display block
  text-align left
  letter-spacing 3.5px

