block vars
    - var title='Title'
    extends ../../partials/layout

block content
    include ../../partials/header-decor

    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="")  Главная
                li
                    span  Интерьеры

    main
        .width-wrap
            h2.mb65 Контакты

            ul.contacts-list.mb40
                li.contacts-list--el.five-tvelfth.contacts-list--el-phone
                    span.title Телефон
                    a(href="tel:+74952112041") +7 (495) 211-20-41
                li.contacts-list--el.seven-tvelfth.contacts-list--el-subway
                    span.title Остановка:
                    span Улица 1905 года.
                li.contacts-list--el.five-tvelfth.contacts-list--el-wats
                    span.title Телефон и&nbsp;WhatsApp:
                    a(href="tel:+79852112041") +7 (985) 211-20-41
                li.contacts-list--el.seven-tvelfth.contacts-list--el-location
                    span.title Адрес:
                    span 2-ая Звенигородская д.13 стр.18Г

            .justifyed.contacts-map.mb75
                .one-half
                    .contacts-list--el.contacts-list--el-step
                        h3 Как до&nbsp;нас добраться пешком от&nbsp;метро &laquo;Улица 1905&nbsp;года&raquo;

                    div(id="map1").map.mb65

                    iframe(src="https://www.youtube.com/embed/q0avC3xdwpQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
                .one-half
                    .contacts-list--el.four-tvelfth.contacts-list--el-car
                        h3 Как до&nbsp;нас добраться на&nbsp;машине

                    div(id="map2").map.mb65

                        p Удобнее всего указать в&nbsp;навигаторе адрес 2-ая Звенигородская д.13 стр.43 и&nbsp;повернуть под шлагбаум налево. На&nbsp;КПП скажите, что вы&nbsp;на&nbsp;фотостудию.


    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/contacts.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});