block vars
    - var title='Title'

extends ../../partials/layout

block content
    main.bg-ui
        a(href="").btn.btn-violet.mb75
            span Смотреть еще
            i.icon.icon--eye

        .label-slider.mb75
            input(type="text" name="").inp

            .label-slider-wrap
                .label-slider-number
                div(data-min="1" data-max="5" data-step="1" data-current="2").range-slider

            .slider-question
                span ?

                .slider-question--popup-wrap
                    .slider-question--popup
                        p Какой-то текст с подсказкой

        .services-list.mb75
            .services-list--el
                h2 Минимальный

                ul.services-list--el-text
                    li Аренда фотостудии
                    li 1 образа
                    li 1 интерьер
                    li Макияж
                    li Укладка
                    li Одежда
                    li Обработка всей фотосессии (от 50 до 100 снимков с 1 интерьера)
                    li Участвует до 5 человек

                span.services-list--el-price 6500
                    small Р

                a(href="").btn.btn-gradient Забронировать

        a(href="").btn.btn-gradient.mb30 Забронировать
        a(href="").btn.btn-white.mb30 Внести предоплату

        select.selet-styled
            option(selected) Платья
            option Брюки
            option Рубашки

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/ui.jpg",opacity: 0.5,top: -258,            left: 0,            center: false,            clip: true,            show: false        });    });





