.popup
  width 420px
  background linear-gradient(to right, rgba(144, 126, 246, 1) 0%, rgba(136, 138, 249, 1) 100%)
  border-radius 10px
  border-bottom 2px solid $cViolet

  @media sm
    width 280px

  h2
    color $cWhite
    padding 30px 0

  .main-form
    display block
    padding 30px 60px
    background $cWhite
    border-radius 10px