block vars
    - var title='Title'

    extends ../../partials/layout

block content

    include ../../partials/header-decor


    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="") Главная
                li
                    span Подарочный сертификат

    main
        .sertificate-letter.mb65
            span.sertificate-letter-bg Сертификат

            .width-wrap
                h2.mb65 Подарочный сертификат

                .justifyed
                    .sertificate-letter-cover
                        h3 ФОТОСТУДИЯ №1

                    .sertificate-letter-inner
                        h2  Сертификат на фотосессию
                        span Лучшее предложение по&nbsp;фотосессии в&nbsp;Москве!

        include ../../partials/sertificate-table

        section.sertificate-content.mb40
            .width-wrap
                h2.mb65 В&nbsp;фотосессию входит:

                ul
                    li Аренда профессиональной фотостудии с&nbsp;8&nbsp;премиум интерьерами в&nbsp;одном здании
                    li Работа профессионального фотографа, в&nbsp;том числе помощь в&nbsp;позировании и&nbsp;создании образа
                    li Дизайнерский гардероб с&nbsp;сотнями нарядов для фотосессии
                    li Красочная подарочная упаковка
                    li Макияж от&nbsp;топовых визажистов, работающих со&nbsp;звездами
                    li Индивидуальный текст сертификата
                        i (поздравление и&nbsp;теплые слова для получателя)
                    li Укладка и&nbsp;помощь в&nbsp;подборе образа от&nbsp;наших стилистов
                    li Качественная обработка всей фотосессии
                        i (снимки на&nbsp;файлообменник в&nbsp;течении 2-х дней)


        section.sertificate-form.mb65
            .width-wrap
                h2.mb65 Смоделировать сертификат

                .justifyed.mb75
                    .sertificate-form-model
                        .sertificate-form-cover
                        .sertificate-form--letter
                            span.sertificate-form--letter-number № А000001
                            h3.violet Фотосессия тебе на день рождения!
                            p.sertificate-form--letter-text Поздравляем тебя с&nbsp;днем рождения и&nbsp;желаем всего самого наилучшего. Удачи, счастья, любви!
                            span.sertificate-form--letter-notificate Для бронирования фотосессии необходимо позвонить по&nbsp;одному из&nbsp;номеров фотостудии
                            span.sertificate-form--letter-contacts +7 (495) 211-20-41, +7 (985) 211-20-41


                    form(action="../../../js/ajax/send-ok.php" method="post").main-form
                        label
                            span Заголовок:
                            input(type="text" name="title" maxlength="50" value="Фотосессия тебе на день рождения!").inp.required.js--change-title

                        label
                            span Текст сертификата:
                            textarea(name="text" maxlength="200" value="Поздравляем тебя с днем рождения и желаем всего самого наилучшего. Удачи, счастья, любви! ").inp.js--change-text

                        label.mb40
                            span Пакет фотосессии:

                            select(name="tarif").selet-styled
                                option(value="tarif1" selected) Мини - 6500р
                                option(value="tarif1") Стандарт - 8500р
                                option(value="tarif1") Премиум - 10500р
                                option(value="tarif1") Делюкс - 20500р

                        button(type="submit").btn.btn-gradient.js--form-submit Заказать сертификат

                p Равным образом начало повседневной работы по&nbsp;формированию позиции обеспечивает широкому кругу (специалистов) участие в&nbsp;формировании существенных финансовых и&nbsp;административных условий. Не&nbsp;следует, однако забывать, что укрепление и&nbsp;развитие структуры способствует подготовки и&nbsp;реализации позиций, занимаемых участниками в&nbsp;отношении поставленных задач. Задача организации, в&nbsp;особенности&nbsp;же реализация намеченных плановых заданий требуют от&nbsp;нас анализа системы обучения кадров, соответствует насущным потребностям.

        section.works
            h2.mb65 Примеры работ
            h3.mb65 Для девушки

            .works-list
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-1.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-1.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-2.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-2.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-3.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-3.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-4.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-4.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-5.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-5.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-1.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-1.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-2.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-2.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-3.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-3.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-4.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-4.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-5.jpg" data-fancybox-group="works1").fancy
                        img(src="../../../img/img--works-5.jpg" alt /)

            h3.mb65 Семейная

            .works-list
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-6.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-6.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-7.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-7.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-8.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-8.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-9.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-9.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-10.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-10.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-6.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-6.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-7.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-7.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-8.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-8.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-9.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-9.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-10.jpg" data-fancybox-group="works2").fancy
                        img(src="../../../img/img--works-10.jpg" alt /)

            h3.mb65 Для беременных

            .works-list
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-11.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-11.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-12.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-12.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-13.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-13.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-14.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-14.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-15.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-15.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-11.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-11.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-12.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-12.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-13.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-13.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-14.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-14.jpg" alt /)
                .works-list--el.four-tvelfth
                    a(href="../../../img/img--works-15.jpg" data-fancybox-group="works3").fancy
                        img(src="../../../img/img--works-15.jpg" alt /)

        include ../../partials/sertificate-table

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/sertificate.jpg",opacity: 0.5,top: 36,left: 0,center: false,clip: true,show: false});});