.main-form
  label
    display block
    margin-bottom 31px

    &.mb40
      margin-bottom 40px

    span
      display block
      font-size 15px
      margin-bottom 14px

    textarea.inp
      height 265px
      padding-top 20px
      resize none

    .inp
      display block
      width 100%
      border 2px solid $cViolet
      border-radius 3px
      background transparent
      height 47px
      padding-left 20px
      box-sizing border-box
      font-size 15px

      &.error
        border 2px solid $cRed

  .inp-date-wrap
    position relative

    &:after
      position absolute
      top 2px
      right 2px
      bottom 2px
      width 46px
      background $cViolet
      content ""

    &:before
      position absolute
      content "\f073"
      font-family $fAwesome
      right 8px
      top 50%
      color $cWhite
      transform translate3d(-50%, -50%, 0)
      z-index 10

  .btn
    width 100%

