block vars
    - var title='Title'

    extends ../../partials/layout

block content
    include ../../partials/header-decor

    section.breadcrumds
        .width-wrap
            ul
                li
                    a(href="")  Главная
                li
                    span  Гардероб

    main
        .width-wrap
            h2.mb65 Гардероб

            p.mb65 Гардероб нашей фотостудии постоянно обновляется и&nbsp;пополняется. На&nbsp;этой странице вы&nbsp;можете посмотреть и&nbsp;подобрать одежду и&nbsp;аксессуары подходящую по&nbsp;стилистике для вашей фотосессии.

            .four-tvelfth.mb30
                select(data-url="../../../js/ajax/send-clothes" data-method="post").selet-styled.select-clothes.clothes-select
                    option(value="Все" selected) Все
                    option(value="Платья") Платья
                    option(value="Обувь") Обувь
                    option(value="Аксессуары") Аксессуары

            .clothes-container
                h3.mb30 Платья

                ul.clothes-list.mb30
                    li.four-tvelfth
                        a(href="../../../img/img--dress-1.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-1.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-2.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-2.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-3.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-3.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-1.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-1.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-2.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-2.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-3.jpg" rel="dress").fancy
                            img(src="../../../img/img--dress-3.jpg" alt /)

                h3.mb30 Обувь

                ul.clothes-list.mb30
                    li.four-tvelfth
                        a(href="../../../img/img--dress-4.jpg" rel="shoes").fancy
                            img(src="../../../img/img--dress-4.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-5.jpg" rel="shoes").fancy
                            img(src="../../../img/img--dress-5.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-6.jpg" rel="shoes").fancy
                            img(src="../../../img/img--dress-6.jpg" alt /)

                h3.mb30 Аксессуары

                ul.clothes-list.mb30
                    li.four-tvelfth
                        a(href="../../../img/img--dress-7.jpg" rel="accessories").fancy
                            img(src="../../../img/img--dress-7.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-8.jpg" rel="accessories").fancy
                            img(src="../../../img/img--dress-8.jpg" alt /)
                    li.four-tvelfth
                        a(href="../../../img/img--dress-9.jpg" rel="accessories").fancy
                            img(src="../../../img/img--dress-9.jpg" alt /)

    .psevdofooter
    include ../../partials/footer

    script(type="text/javascript" ) $(function(){$.pixlayout({src: "../../../img/temp/clothes.jpg",opacity: 0.5,top: 0,left: 0,center: false,clip: true,show: false});});