.page-index
  position relative

.index
  &-banner
    padding-top 417px
    height 480px
    background url("../img/bg--banner.png") no-repeat 50% 0
    text-align center

    @media md
      padding-top 397px
      height 450px

    @media sm
      padding-top 270px
      height 200px
      background-size auto 100%

    &--logo
      display inline-block
      vertical-align top
      background $cBlack
      color $cWhite
      font-family $fCatorze
      font-size 80px
      line-height 80px
      text-transform uppercase
      padding 32px 40px
      letter-spacing 5px

      @media md
        font-size 60px
        padding 5px

      @media sm
        font-size 36px
        letter-spacing 2px

  &-about
    padding-top 70px
    padding-bottom 58px
    position relative

    @media sm
      padding-bottom 0

    .bg-img
      position absolute
      left 50%
      top 50%
      transform translate3d(-18%, -50%, 0)

      @media md
        transform translate3d(-2%, -50%, 0)

    .width-wrap
      position relative
      z-index 10
    
    h2
      margin-bottom 63px

      @media md
        margin-bottom 53px

      @media sm
        margin-bottom 30px

    .content
      width 555px

      @media md
        width 385px
        margin-left 30px

      @media sm
        width auto
        margin-left 0

      p
        line-height 40px
        margin-bottom 40px

        @media md
          line-height 35px

        &:last-child
          margin-bottom 0