.icon
  font-family $fAwesome

  &.icon--eye:before
    content "\f06e"
  &.icon--question:before
    content "\f128"
  &.icon--arrow:before
    content "\f061"
  &.icon--angle-down:before
    content "\f107"
  &.icon--angle-left:before
    content "\f104"
  &.icon--angle-right:before
    content "\f105"
  &.icon--calendar:before
    content "\f073"
  &.icon--clock:before
    content "\f017"
  &.icon--check:before
    content "\f00c"
  &.icon--close:before
    content "\f00d"
  &.icon--phone:before
    content "\f095"
  &.icon--location:before
    content "\f041"
  &.icon--fb:before
    content "\f082"
  &.icon--in:before
    content "\f16d"
  &.icon--vk:before
    content "\f189"
  &.icon--wa:before
    content "\f232"
  &.icon--bars:before
    content "\f0c9"